# Copy this file to key.properties and fill in your values.
# Do NOT commit key.properties or your .jks file to git.

storePassword=YOUR_KEYSTORE_PASSWORD
keyPassword=YOUR_KEY_PASSWORD
keyAlias=upload
storeFile=upload-keystore.jks
